/* Reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
/* Variables et Mixins */
/* bloc input */
/* Components */
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 150px;
}
header h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}
header h1 span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
  color: #93532f;
  text-transform: uppercase;
  font-weight: 400;
}
header nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
header nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
header nav li a {
  text-decoration: none;
}
header nav li a:hover {
  font-weight: 700;
}
header nav li img {
  height: 22px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

/* Pages */
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 60px;
}
#portfolio .boutons-filtre {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}
#portfolio .boutons-filtre button {
  font-family: Syne;
  font-size: 16px;
  padding: 12px 20px;
  color: #1d6154;
  background-color: white;
  border: solid 1px #1d6154;
  border-radius: 60px;
}
#portfolio .boutons-filtre button:hover {
  cursor: pointer;
  color: white;
  background-color: #1d6154;
}

.galerie {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.galerie img {
  width: 100%;
}

#contact label {
  margin: 42px 0 8px 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.page-actuelle {
  font-weight: 700;
}

#connexion label {
  margin: 32px 0 8px 0;
}
#connexion form input:active,
#connexion form input:focus {
  border: 2px solid #6300a0;
}
#connexion form input:not(:focus):invalid {
  color: white;
  border: 2px solid #b20a37;
  background: #b20a37;
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
}
@keyframes headshake {
  25% {
    transform: translateX(1%);
  }
  75% {
    transform: translateX(-1%);
  }
}

#erreur-connexion {
  height: 50px;
  width: 50%;
  margin: auto;
  text-align: center;
  margin-top: 32px;
  font-family: "Work Sans";
  font-size: 20px;
  color: #b20a37;
  font-weight: 700;
}
#erreur-connexion p {
  padding: 12px 20px;
}


/* Animations */
.apparition {
  animation: apparition 600ms cubic-bezier(0.42, 0, 0.58, 1) both;
}
.apparition--1 {
  animation-delay: 100ms;
}
.apparition--2 {
  animation-delay: 200ms;
}
.apparition--3 {
  animation-delay: 300ms;
}
.apparition--4 {
  animation-delay: 400ms;
}
.apparition--5 {
  animation-delay: 500ms;
}
.apparition--6 {
  animation-delay: 600ms;
}
.apparition--7 {
  animation-delay: 700ms;
}
.apparition--8 {
  animation-delay: 800ms;
}
.apparition--9 {
  animation-delay: 900ms;
}
.apparition--10 {
  animation-delay: 1000ms;
}
.apparition--11 {
  animation-delay: 1100ms;
}
.apparition--12 {
  animation-delay: 1200ms;
}
.apparition--13 {
  animation-delay: 1300ms;
}
.apparition--14 {
  animation-delay: 1400ms;
}
.apparition--15 {
  animation-delay: 1500ms;
}
.apparition--16 {
  animation-delay: 1600ms;
}
.apparition--17 {
  animation-delay: 1700ms;
}
.apparition--18 {
  animation-delay: 1800ms;
}
.apparition--19 {
  animation-delay: 1900ms;
}
.apparition--20 {
  animation-delay: 2000ms;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

section {
  margin: 50px 0 150px;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

.formulaire {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  width: 379px;
}
.formulaire h2 {
  font-size: 30px;
  color: #1d6154;
}
.formulaire form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.formulaire input {
  height: 50px;
  font-size: 14px;
  padding-left: 12px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.formulaire input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 37px auto 32px;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}
.formulaire input[type=submit]:hover {
  background-color: #0e2f28;
}

/*# sourceMappingURL=style.css.map */
