/* Reset */
@import "reset.scss";

/* Variables et Mixins */
@import "variables/design";
@import "mixins/shadow-border.scss";
@import "mixins/bouton-submit.scss";

/* Components */
@import "components/header";
@import "components/footer";
@import "components/modale";

/* Pages */
@import "pages/home";
@import "pages/login";

/* Animations */
@import "animations/apparition.scss";

body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

section {
  margin: 50px 0 150px;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: $secundary-color;
}
.formulaire {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  width: 379px;

  h2 {
    font-size: 30px;
    color: $secundary-color;
  }

  form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  input {
    height: 50px;
    font-size: 14px;
    padding-left: 12px;
    @include shadow-border;

    &[type="submit"] {
      @include bouton-submit($secundary-color, $secundary-color-darker);
    }
  }
}
