/* Reset */
@import "reset.scss";

/* Variables et Mixins */
@import "variables/design";
@import "mixins/input-style.scss";
@import "mixins/bouton-submit.scss";

/* Components */
@import "components/header";
@import "components/footer";
@import "components/modale";
@import "components/pop-up";

/* Pages */
@import "pages/home";
@import "pages/login";

/* Animations */
@import "animations/anim-galerie.scss";
@import "animations/anim-modale.scss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
  background-color: $white;
  color: $black;
}
main {
  max-width: 950px;
  margin: auto;
}

section {
  margin: 50px 0 150px;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: $secundary-color;
}

a {
  text-decoration: none;
}

.formulaire {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  width: 379px;

  h2 {
    font-size: 30px;
    color: $secundary-color;
  }

  form {
    text-align: left;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
  }

  input {
    @include input-style;

    &[type="submit"] {
      @include bouton-submit($secundary-color, $secundary-color-darker, 180px);
    }
  }
}
