$primary-color: #b1663c;
$secundary-color: #1d6154;
$span-color: #93532f;
$error-color: #b20a37;
$secundary-color-darker: #0e2f28;
$white: white;
$black: black;
$font-family_1: "Work Sans";
$font-family_2: "Syne";
