@mixin bouton-submit($btn-color, $btn-color-hover, $btn-width) {
  font-family: "Syne";
  font-weight: 700;
  color: $white;
  background-color: $btn-color;
  margin: 37px auto 32px;
  width: $btn-width;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
  font-size: 14px;
  padding: 11px;
  &:hover {
    background-color: $btn-color-hover;
  }
}
